:root{
  --title-color: rgb(14, 51, 108);
  --subTital-color:  rgb(52, 174, 255);
  --productHolder-bg: rgb(168, 209, 245);
}
.productContainer{
  margin: 0px 80px;
  padding: 50px;
  /* background: gray; */
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap; /* Allows wrapping of child elements */
}

.productsHolder{
  /* border: 1px solid green; */
  margin: 0px 50px;
  background-color: var(--productHolder-bg);

}
.productsHolder:nth-child(even){
  /* background-color: red; */
  direction:rtl;
  .Product-info-key{
    border-radius: 28px 0 0 28px;
  }
}
.Product-info-key {
  margin-top: 30px;
   direction:ltr;
  width: 80%;
   background-color: white; 
  color: black;          
  padding: 16px;          
  /* border: 1px solid #ccc;   */
 border-radius: 0px 28px 28px 0;     /* Optional: Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow */
  display: flex;
  flex-wrap: wrap;
 
}
.productHeader{
  width: 100%;
 h1,h3,h4{
    text-align: center;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  h1{
    color:var(--title-color)
  }
  h4{
    color: var(--subTital-color);
  }

}
.line {
  width: 25%; /* Adjust line width as needed */
  height: 2px; /* Adjust line thickness */
  background-color:#ff0039; /* Adjust line color */
  margin: 5px 0; /* Space between line and heading */
}
.imgAndFeaturesHolder{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.Product-info-key img{
  width: 50%;
}
.productDiscriptionHolder>*{
  padding: 0 20px;
  margin-bottom: 20px;
}
.productDiscriptionHolder{
  h4{
    color: var(--title-color);
  }
}
.workingDetailscontainer{
  ol{
    margin-top: 10px;
    margin-left: 40px;
  }

}